:root {
  --nm: 6px 6px 16px 0 rgba(0, 0, 0, 0.2), -6px -6px 16px 0 rgba(255, 255, 255, 1);
  --nm-inset: inset 4px 4px 8px 0 rgba(0, 0, 0, 0.2), inset -4px -4px 8px 0 rgba(255, 255, 255, 0.8);

  --nm-button: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 1);
  --nm-button-inset: inset 5px 5px 10px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 1);

  --concave: linear-gradient(145deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 1));
  --bg-color: #e0e5ec;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  flex-direction: column;
}
.container {
  display: flex;
  padding: 15px;
  margin: 15px 0px;
  height: 350px;
  width: 250px;
  background-color: var(--bg-color);
  box-shadow: var(--nm);
  border-radius: 20px;
}
.power {
  align-self: flex-start;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.off {
  box-shadow: var(--nm-button);
}

.on {
  box-shadow: var(--nm-button-inset);
}
